{% extends 'layout.njk'%}

{% block content %}
    {% block head %}
            <title>Portifólio - Thalles Ian</title>
    {% endblock %}

    <div id="wrapper">
        <h1>Aulas</h1>
    </div>
    <section class="cards">
        {% for item in itens%}
            <div class="card" id="{{item.id}}">
                <div class="card_image-container {{ 'featured_wrapper' if item.featured }}">
                    <img src=https://img.youtube.com/vi/{{item.id}}/mqdefault.jpg alt="Imagem de {{item.title}}">
                    {% if item.featured%}
                        <div class="featured">Featured</div>
                    {%endif%}
                </div>
                <div class="card_content">
                    <p>{{item.title}}</p>
                </div>
                <div class="card_info">
                    <p>{{item.duration}}</p>
                    <p class="card_price">{{item.price}}</p>
                </div>
            </div>
        {%endfor%}
    </section>

<script src="/scripts.js"></script>

{%endblock%}